.btn {
    width: 3rem;
    background-color: white;
    border-radius: 20px;
    font-size: x-large;
    color: black;
}

.changePage {
    display: flex;
    justify-content: space-between;
    padding: 3%;
}